<div class="container py-3">
  <div class="row">
    <div class="col-md-6">
      <h2>Employee Management</h2>
    </div>
    <div class="col ml-auto text-right">
      <button
        type="button"
        class="btn btn-outline-success"
        (click)="onAddEmployee()"
      >
        <i class="fa fa-plus"></i>{{editMode ? 'Update' : 'Add'}} Employee
      </button>
    </div>
  </div>
</div>
<hr />

<div class="row p-2">
  <div class="col-md-4" *ngFor="let item of employee">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ item.name }}</h5>
        <h6 class="card-subtitile mb-2 text-muted">{{ item.position }}</h6>
        <span
          class="badge"
           [ngClass]="{'badge-danger': item.dept == 'Design',' badge-success': item.dept == 'Development'}"
          >{{ item.dept }}</span
        >
        <hr />
        <button type="button" class="btn btn-sm btn-outline-primary mr-2" (click)="edit(item)">
          Edit
        </button>
        <button type="button" (click)="onDelete(item._id)" class="btn btn-sm btn-outline-danger mr-2">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
<!-- show modal -->
<div
  class="modal fade show"
  id="myModal"
  [style.display]="showModal ? 'block' : 'none'"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Employee</h5>
        <button
          (click)="onCloseModal()"
          type="button"
          class="close"
          data-dismiss="modal"
        >
          <span area-hidden="true"> &times;</span>
        </button>
      </div>

      <form [formGroup]="empForm" (ngSubmit)="onSubmit()">
        <div class="form-group p-3">
          <label for="exampleFormControlInput1">Enter Name</label>
          <input
            formControlName="name"
            type="text"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder=""
          />
        </div>
        <div class="form-group p-3">
          <label for="exampleFormControlInput2">Enter Position</label>
          <input
            formControlName="position"
            type="text"
            class="form-control"
            id="exampleFormControlInput2"
            placeholder=""
          />
        </div>

        <div class="form-group p-3">
          <label for="exampleFormControlSelect1">Enter Department</label>
          <select
            class="form-control"
            id="exampleFormControlSelect1"
            formControlName="dept"
          >
            <option value="Design">Design</option>
            <option value="Development">Development</option>
          </select>
        </div>
        <button type="submit" class="btn btn-success mr-2">Success</button>
        <button type="button" class="btn btn-danger mr-2">Danger</button>
      </form>
    </div>
  </div>
</div>
